* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App-header{
text-align: center;
}

.App{
  padding: 5px;
}

.box-container {
  padding-bottom: 20rem;
  background-image: url(./Rock.png);
  background-repeat: no-repeat;
}

.box{


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}